{{ title }}

{{ summary_heading }}
{{ summary }}

{{ detail_heading }}
{% if streets %}
{% for street in streets %}
{{ street.heading }}
{% for station in street.stations %}
[[STATION:{{ station.key }}]]
[[IMAGES:{{ station.image_key }}]]
{% endfor %}
{% endfor %}
{% else %}
{{ no_detail_text }}
{% endif %}